header {
    height: 100px;
    background-color: #30282A;
}

nav {
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.logo {
    float: left;
    height: 100px
}

.social {
    float: right;
    padding-right: 10px;
}

.social i {
    padding: 10px;
    color: white;
}

.content {
    background-color: #30282A;
    height: 700px;
}

h1 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    color: #fff;
    margin-top: 100px;
}

.paragraph1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

h2 {
    background-color: #fff;
    height: 50px;
    width: 200px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-left: 500px;
    line-height: 50px;
    padding-left: 100px;
}

.col-1 {
    width: 50%;
    float: left;
    height: 600px;
    background-color: #fff;
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 120px;
    margin-left: 50px;
}

.col-2 {
    width: 50%;
    float: left;
    height: 800px;
    background-color: #F63C3C;
}

.clear {
    clear: both;
}